[submodule "dotbot"]
	path = tools/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "gdb-dashboard"]
	path = tools/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
[submodule "bin/upm"]
	path = bin/upm
	url = https://github.com/Quexint/upm
[submodule "fzf"]
	path = tools/fzf
	url = https://github.com/junegunn/fzf
[submodule "tools/diff-so-fancy"]
	path = tools/diff-so-fancy
	url = https://github.com/so-fancy/diff-so-fancy
[submodule "zsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/custom/themes/spaceship-zsh-theme"]
	path = zsh/custom/themes/spaceship-zsh-theme
	url = https://github.com/denysdovhan/spaceship-zsh-theme
[submodule "zsh/custom/themes/powerlevel9k"]
	path = zsh/custom/themes/powerlevel9k
	url = https://github.com/bhilburn/powerlevel9k
[submodule "zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/custom/plugins/zsh-completions"]
	path = zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "zsh/custom/plugins/zsh-256color"]
	path = zsh/custom/plugins/zsh-256color
	url = https://github.com/chrissicool/zsh-256color
[submodule "zsh/custom/plugins/notify"]
	path = zsh/custom/plugins/notify
	url = https://github.com:marzocchi/zsh-notify.git
